.header_section {
  color: white;
  margin: 0px auto 24px auto;
  max-width: 349px;
  width: 100%;
  height: auto;
  text-align: center;
  .title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }
}
.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .button {
    width: 100%;
    button {
      cursor: pointer;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      background: #242436;
      border: 1px solid #636370;
      border-radius: 8px;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      .image {
        margin-right: 10.5px;
      }
    }
    .button1 {
      background: #f5961e;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      border-radius: 8px;
      color: #07070a;
      border: none;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      outline: none;
      cursor: pointer;
    }
    &:last-child {
      button {
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .header_section {
    margin-top: 34px;
    .title {
      max-width: 288px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
  .button_section {
    .button {
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        height: 48px;
      }
    }
  }
}

@media (min-width: 521px) and (max-width: 1024px) {
  .header_section {
    height: 120px;
    .title {
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }
  .button_section {
    .button {
      button {
        height: 56px;
      }
    }
  }
}
