.wrapper {
  .login-text {
    margin-top: 32px;
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-line: underline;

    color: #f1f1f1;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(160, 160, 170, 0.3);
    padding-bottom: 12px;
    margin-top: 12px;
    .contact-container {
      width: 219px;
      height: 40px;
      display: flex;
      align-items: center;
      .contact {
        .contactNo {
          // position: absolute;
          width: 115px;
          height: 24px;
          //   left: 16px;
          //   top: 126px;
          font-style: normal;
          font-weight: 510;
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
        }
        .last-login {
          // position: relative;
          width: 110px;
          height: 16px;
          left: 16px;
          top: 150px;

          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height, or 145% */

          text-transform: capitalize;

          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .subscribedCta {
      box-sizing: border-box;
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 6px 8px;
      gap: 4px;
      width: 89.41px;
      height: 24px;
      border: 1px solid rgba(255, 255, 255, 0.32);
      border-radius: 6px;
      .cta-text {
        margin-left: 4px;
        width: 58px;
        height: 12px;

        font-style: normal;
        font-weight: 590;
        font-size: 9px;
        line-height: 12px;

        text-align: center;
        text-transform: uppercase;

        color: #ffffff;
      }
      .ctaImg {
        box-sizing: border-box;

        width: 11.41px;
        height: 10.42px;
      }
    }
    .delete {
      // position: absolute;
      width: 13.5px;
      height: 15px;
      left: 3.33px;
      top: 2.5px;
    }
  }
}
