$white: #fff;
.selectProfileContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  min-height: auto;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  * {
    box-sizing: border-box;
  }
  .page_title {
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
    color: $white;
  }
  .avatar_container {
    display: flex;
    padding: 0 9%;
    justify-content: space-between;
    flex-wrap: wrap;
   

    .image_block {
      padding: 0px;
      position: relative;
      // margin-right: 32px;
     .avtaar_img{
        height: auto;
        width: 14.375vw;
     }
     .active .avtaar_img{
      border: 2px solid #F5961E;
    border-radius: 50%;
     }
     .addBlock{
      width: 14.375vw;
      height: 14.375vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #242436;
        .plusIcon{
            width:30px !important;
            height: 30px !important;            
          }
     }  
      .checkicon {
        position: absolute;
        bottom: 6px;
        right: 0;
        width: 24px;
        max-width: 24px;
        display: none;
        
        }
        .active .checkicon {
          display: block;
          right: 42px;
    bottom: 33px;
          }
      
      .imageText {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: $white;
        margin-top: 5px;
      }
      .active .imageText{
        color: #F5961E;
      }
    }
  }
  .edit_Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 250px;
    height: 48px;
    background: #242436;
    border: 1px solid #636370;
    border-radius: 8px;
    color: $white;
    margin-bottom: 64px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    }
}

//for mobile screens
@media screen and (max-width: 767px) {
  .page_title{
    margin-top: 24px !important;
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .edit_Button{
    margin-bottom: 32px !important;
    width: 288px;
    margin: auto;
  }
  .avtaar_img{
    width: 35.375vw !important;
  }
  .image_block{
    margin-right: 0px !important;
    margin-bottom: 24px;
  }
  .addBlock{
    width: 35.375vw !important;
    height:35.375vw !important;
  }
  .imageText{
    font-size: 14px !important;
  }
}
//for Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page_title{
    margin-top: 107px !important;
    margin-bottom: 162px !important;
  }
}