.header_section {
  color: white;
  margin: 0px auto 32px auto;
  width: 100%;
  height: 80px;
  text-align: center;
  .title {
    height: 40px;
    max-width: 300px;
    margin: 0 auto;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }
  .description {
    width: 100%;
    height: 40px;
    max-width: 230px;
    margin: 0 auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #a0a0aa;
  }
}
.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .button {
    width: 100%;
    button {
      border: none;
      cursor: pointer;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      background: #242436;
      border-radius: 8px;
      color: #ffffff;
      .image {
        margin-right: 10.5px;
      }
    }
    .button1 {
      background: #f5961e;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      border-radius: 8px;
      color: #07070a;
    }
    &:last-child {
      button {
        margin-bottom: 0;
        border: 1px solid #636370;;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_section {
    .title {
      max-width: 300px;
      margin: 0 auto;
    }
  }
  .button_section {
    .button {
      button {
        height: 56px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header_section {
    margin-top: 34px;
    .title {
      max-width: 230px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .button_section {
    .button {
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        height: 48px;
      }
    }
  }
}


