.header_section {
  color: white;
  margin: 0px auto 32px auto;
  width: 100%;
  text-align: center;
  .title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }
  .description {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #a0a0aa;
  }
}
.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .button {
    width: 100%;
    button {
      cursor: pointer;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      background: #242436;
      border-radius: 8px;
      color: #ffffff;
      border: 1px solid #636370;
      outline: none;
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      .image {
        margin-right: 10.5px;
      }
    }
    .button1 {
      background: #f5961e;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 16px;
      border-radius: 8px;
      color: #07070a;
      border: none;
      outline: none;
    }
    &:last-child {
      button {
        margin-bottom: 0;
      }
    }
  }
}


@media screen and (min-width:768px) and (max-width: 1024px) {
  .header_section {
    .description {
      max-width: 330px;
    }
  }
  .button_section {
    .button {
      button {
        height: 48px;
      }
    }
  }
}


@media screen and  (max-width: 767px) {
  .header_section{
    max-width: 290px;
    .title{
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    .description{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      max-width: 290px;
      height: 32px;
      padding: 0 50px
    }
  }  
  .button_section {
    .button {
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        height: 48px;
      }
    }
  }
}
