@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Roboto-regular";
  src: url("../public/font/Roboto/Roboto-Regular.ttf");
  // src: url('../public/font/Roboto/Roboto-Bold.ttf');
  // src: url('../public/font/Roboto/Roboto-Medium.ttf');
}

// @font-face {
//   font-family: 'Roboto-bold';
//   src: url('../public/font/Roboto/Roboto-Bold.ttf');
// }

// @font-face {
//   font-family: 'Roboto-medium';
//   src: url('../public/font/Roboto/Roboto-Medium.ttf');
// }

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto-regular";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, #000000 79.07%, rgba(0, 0, 0, 0) 109.5%),
    linear-gradient(360deg, #0e0f15 34.18%, rgba(7, 7, 10, 0) 100%),
    radial-gradient(
      88.87% 98.15% at -20.75% -15.5%,
      #24bff3 0%,
      rgba(64, 32, 128, 0) 100%
    ),
    radial-gradient(108.25% 233.18% at 36.5% 37.5%, #402080 0%, #ff5500 100%),
    radial-gradient(78.75% 520.8% at -23.37% -35.25%, #faeb32 0%, #ff5500 100%),
    linear-gradient(312.65deg, #000000 63.82%, #1f1f2d 113.14%);
}

#profileAvtaarCarousel {
  .slick-slider {
    .slick-list {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 185px !important;
      padding-right: 185px !important;
      .slick-track {
        .slick-slide {
          text-align: center;
          &.slick-active {
            &.slick-center {
              transform: scale(1.2);
              #avtaar_img {
                border: 2px solid #f5961e;
                border-radius: 50%;
              }
              #checkIcon {
                display: inline-flex;
              }
            }
          }
        }
      }
    }
    .slick-arrow {
      &.slick-next {
        background: url("../public/images/chevron-right.png") no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        right: -50px;
        &::before {
          display: none;
        }
      }
      &.slick-prev {
        background: url("../public/images/chevron-left.png") no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        left: -50px;
        &::before {
          display: none;
        }
      }
      &.slick-disabled {
        display: none !important;
      }
    }
  }
}

@media screen and (min-width:1599px) {
  #profileAvtaarCarousel {
    .slick-slider {
      .slick-list {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 180px !important;
        padding-right: 180px !important;
       
      }
      
    }
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  #profileAvtaarCarousel {
    .slick-slider {
      .slick-arrow {
        display: none !important;
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape){
  #profileAvtaarCarousel {
    .slick-slider {
      .slick-list {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 172px !important;
        padding-right: 172px !important;
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: portrait) {
  #profileAvtaarCarousel {
    .slick-slider {
      .slick-list {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 157px !important;
        padding-right: 157px !important;
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #profileAvtaarCarousel {
    .slick-slider {
      .slick-arrow {
        display: none !important;
      }
    }
  }
}
