.header_section {
  color: white;
  margin: 0px auto 24px auto;
  width: 100%;
  text-align: center;
  .title {
    max-height: 80px;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }
  .description {
    width: 100%;
    // height: 40px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #a0a0aa;
  }
}
.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .button {
    width: 100%;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 24px;
    margin-bottom: 16px;
    background: #242436;
    border-radius: 8px;
    color: #ffffff;
    border: 1px solid #636370;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    .image {
      margin-right: 10.5px;
    }
    &:first-child {
      background: #f5961e;
      color: #07070a;
      border: none;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_section {
    max-width: 349px;
    max-height: 112px;
    margin: 0px auto 24px auto;
     .title{
      max-width: 348px;
      height: 80px;
     }
    .description {
      max-width: 330px;
    }
  }
  .button_section {
    .button {
      height: 56px;
    }
  }
}

// @media  screen and (max-width:991px) and (orientation:landscape) {
//   .header_section{
//     .title {
//       letter-spacing: 1px;
//       padding: 0 10px;
//       padding-bottom: 0;
//       font-size: 24px;
//       line-height: 32px;
//       font-weight: 700;
//       margin-bottom: 8px;
//     }
//     .description {
//       letter-spacing: 0.8px;
//       max-width: 288px;
//       max-height: 16px;
//       font-weight: 400;
//       font-size: 12px;
//       line-height: 16px;
//     }
//   }
//   .button_section {
//     .button {
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 24px;
//       margin-bottom: 12px;
//       height: 48px !important;
//     }
//   }
// }

@media screen and (max-width: 767px) {
  .header_section{
    .title {
      max-width: 288px;
      letter-spacing: 1px;
      padding: 0 10px;
      padding-bottom: 0;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      margin: 0 auto 8px auto;
    }
    .description {
      letter-spacing: 0.8px;
      max-width: 288px;
      max-height: 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .button_section {
    .button {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
      height: 48px !important;
    }
  }
}
